@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap'); 

.card {
    /*animates card elements*/
    margin: 3%;
    margin-left: 35%;
    width: 30rem;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease-in-out;
    font-family: 'Lato', sans-serif;
  }

  