<div class="container-fluid">
    <div class="card" *ngFor='let quote of quotes let i= index'>
       
        <div appHighlights class="card-body">
          <p class="card-text ">{{quote.Quote}}</p>
          <blockquote class="blockquote m-8">
               <footer class="blockquote-footer mt-2"><cite title="Source Title">{{quote.author|titlecase}}</cite></footer>
               <button class="btn btn-warning" (click)='toggleDetails(i)' > See More</button>
          </blockquote>
        </div>
       
        <div class="card-body">
            
         
        </div>
    </div>

</div>
