<div class="container-fluid">
    <div class="card" *ngFor='let quote of quotes let i= index'>
       
        <div appHighlights class="card-body">
          <p class="card-text ">{{quote.Quote}}</p>
          <blockquote class="blockquote m-8">
               <footer class="blockquote-footer mt-2"><cite title="Source Title">{{quote.author|titlecase}}</cite></footer>
               <button class="btn btn-warning " style="float: right;" (click)='toggleDetails(i)' > See More</button>
          </blockquote>
          <app-quote-details  *ngIf='quote.showDescription'
          [quote]='quote' 
          (toDelete)='nowDelete($event, i)'
          (upThisVote)='addUpVote($event, i)'
          (downThisVote)= 'addDownVote($event, i)'>
         </app-quote-details>
        </div>
       
        <!-- <div class="card-body">
            <p class="card-text ">{{quote.Quote}}</p>
            <blockquote class="blockquote m-8">
                 <footer class="blockquote-footer mt-2"><cite title="Source Title">{{quote.author|titlecase}}</cite></footer>
                 <button class="btn btn-warning " style="float: right;" (click)='toggleDetails(i)' > See More</button>
            </blockquote>
            <app-quote-details  *ngIf='quote.showDescription'
            [quote]='quote' 
           (toDelete)='nowDelete($event, i)'
           (upThisVote)='addUpVote($event, i)'
            (downThisVote)= 'addDownVote($event, i)'>
           </app-quote-details>
         
        </div> -->
    </div>

</div>
