<div class="container-fluid">
    <form (ngSubmit)="submitQuote() ;quoteForm.resetForm({})"
    #quoteForm="ngForm">
        <h2>Share your quote with the world</h2>
        <div class=" bluePrint form-center">
            <div class="form-group col-md-6"> 
            <label for="iSubmit">Your name</label>
            <textarea class='form-control' id="iSubmit" type="text" class="form-control" [(ngModel)]='newQuote.iSubmit' name='iSubmit'  #iSubmit='ngModel' required></textarea>
            </div>
   
        <div class="form-group col-md-6" >
            <label for="author">Quote Author</label>
            <textarea class='form-control' type="text" id="author"  [(ngModel)]='newQuote.author' name='author' #author='ngModel' required></textarea>
        </div>
   
        <div class= "form-group col-md-6" >
            <label for="aQuote">Quote goes here</label>
            <textarea type="text" class='form-control' id="aQuote" [(ngModel)]='newQuote.Quote' name='aQuote' #aQuote='ngModel' required></textarea>
        </div>
        <button class="btn btn-success" type="submit">Post quote</button>
        </div>
    </form>

</div>
