<div class="container-fluid">
    <form (ngSubmit)="submitQuote() ;quoteForm.resetForm({})"
    #quoteForm="ngForm">
        <h2>Share your quote with the world</h2>

        <div class= "form-group col-md-6" >
            <label for="aQuote">Enter Quote:</label>
            <textarea type="text" placeholder="The Quote..." rows="5" class='form-control' id="aQuote" [(ngModel)]='newQuote.Quote' name='aQuote' #aQuote='ngModel' required></textarea>
        </div>

        <div class=" bluePrint form-center">
            <div class="form-group col-md-6"> 
            <label for="iSubmit">Submitted by:</label>
            <textarea class='form-control' placeholder="Name..." id="iSubmit" style="width: 60%;" type="text" class="form-control" [(ngModel)]='newQuote.iSubmit' name='iSubmit'  #iSubmit='ngModel' required></textarea>
            </div>
   
        <div class="form-group col-md-6" >
            <label for="author">Author/Musician</label>
            <textarea class='form-control' placeholder="Author of the Quote..." style="width: 60%;" type="text" id="author"  [(ngModel)]='newQuote.author' name='author' #author='ngModel' required></textarea>
        </div>
        <button class="btn btn-success" type="submit">Add Quote</button>
        </div>
    </form>

</div>
